doctype html
html(lang='en',ng-app='myExpress')
    head
        meta(charset='utf-8')
        meta(name='viewport', content='width=device-width,initial-scale=1, user-scalable=no')
        title= title
        link(rel='stylesheet', href='/styles/style.css')
        link(rel='stylesheet', href='/bootstrap/dist/css/bootstrap.min.css')
        script(src="/angularjs/angular.js")
        script(src="/angular-route/angular-route.min.js")
        script(src="/angular-animate/angular-animate.js")
        script(src="/angular-bootstrap/ui-bootstrap-tpls.min.js")
        script(src="/jquery/dist/jquery.min.js")
        script(src="/bootstrap/dist/js/bootstrap.min.js")
        script(src="/scripts/App.js")
        script(src="/scripts/controller/LoginCtrl.js")
    body
        block content
